.inner-container{
    line-height: 150px;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: red;
    text-align: center;
    color: black;
    padding: 5px;
    display: inline-block;
}